@{
    ViewData["Title"] = "Home Page";
}

<style>
        .text-center {
            text-align: center;
        }
        .display-4 {
            font-size: 2.5rem;
            font-weight: bold;
        }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
