@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>You are on a website where the labs are available. To access them you need to authorize using login or register pages.</p>
</div>
