@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a class="nav-link text-dark" asp-area="" asp-controller="Lab" asp-action="First">Lab 1</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Lab" asp-action="Second">Lab 2</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Lab" asp-action="Third">Lab 3</a>
}
